body {
  background-image: url("https://www.larutadelsorigens.cat/filelook/full/116/1160151/hd-pattern-wallpapers-1080p.png");
  text-align: center;
}

.jumbotron {
background-color: #9ad398!important;
}
