.App {
  text-align: center;
  font-size: 20px;
  font-weight: bold;

}

.App #repos{
  text-align: left;
}

.App UserIcon{
  position: absolute;
  left: 1000px;
  top: 20;
}

#loading-statement{
  position: relative;
  top: 10px;
  left:10px;
}

.App-link {
  color: #61dafb;
}

body{
  background-image: url('background.png');
  background-size: 1450px 800px;
  background-repeat: no-repeat;

}

#bold{
  font-size: 30px;
}


element.style {
  text-align: left;
}

#repos{
  text-align: left;
}
